video::cue {
  background-color: rgba(0,0,0, .5);
	color:#ccc;
  
}
video::-webkit-media-text-track-container {
  padding-bottom: 0;

  z-index: 0;

  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-decoration: none;
  pointer-events: none;
  -webkit-user-select: none;
}

video::-webkit-media-text-track-display {
  bottom : 85%;
  position: absolute;
  overflow: hidden;
  white-space: pre-wrap;
  box-sizing: border-box;
  font-family:sans-serif;
  font-weight: 400;
  color: #fff;

}

/* fullscreen
html:-ms-fullscreen {
	width:100%;
}
:-webkit-full-screen {
	background-color:transparent;
}
video:-webkit-full-screen + .controls {
	background:#ccc; /* required for Chrome which doesn't heed the transparent value set above */
/* } */
/* video:-webkit-full-screen + .controls progress {
	margin-top:0.5rem;
}

@media screen and (max-width : 600px) {
  video::-webkit-media-text-track-display{
    font-size: 8vw !important;
  }
}
@media screen and (orientation: landscape) and (max-width : 800px) {
  video::-webkit-media-text-track-display{
    font-size: 8vw !important;
  }
  /* body.is-fullscreen  video::-webkit-media-text-track-display {
    font-size: 10vw !important;
  } 
}
*/